* {
  box-sizing: border-box;
  /*   border: 1px solid black; */
}

p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

h1 {
text-align: center;
}

 h2, h3 {
  padding: 10px;

}

h1 {
font-size: 31px;
}

header {
  height: 8vh;
  width: 100vw;
  position: relative;
  background-color: rgba(209, 0, 116, 1);
  background-image: linear-gradient(109.6deg, rgba(209, 0, 116, 1) 11.2%, rgba(110, 44, 107, 1) 91.1%);
  display: flex;
  justify-content: space-between;
}

#logo>p>a {
  padding-left: 1vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.page {
  height: 100vh;
  background: #fff;
}

.hero-privacy {
  height:25vh;
  background-image: url(../img/camera-wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

section {
  padding: 5px 25px;
  line-height: 1.5;
}


section>ul {
   display: inline-block;
   text-align: left;
   margin-left: -1opx;
   padding-left: 25px;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
}



/* Here is the style for Desktop version */
@media(min-width:600px) {

  header {
    position: fixed;
  }

  nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
  }

  .desktop-menu {
    list-style: none;
    display: flex;
    gap: 8%;
    padding-right: 8vw;
  }

  .desktop-menu>li {
    font-size: 14px;
    margin: 0 20px;
    cursor: pointer;
  }



  .hero-privacy {
    height: 450px;
    background-image: url(../img/camera-wall.jpg);
    background-position: center;
    background-size: cover;
}

  section {
    margin: 0 100px;
    }



}
